<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
		<script type="text/javascript" src="/static/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
				MathJax.Hub.Config({				
					displayAlign: "left",
					tex2jax: {inlineMath: [['$$','$$'],['\\[','\\]']], displayMath:[]} 
				})
		</script>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="container-fluid" style="margin-top:40px;">
			<div class="row-fluid">
				{% if tag_def.title != None %}
					<h1>{{tag_def.title}}</h1>
				{% else %}
					<h1>New Tag</h1>
				{% endif %}
				<hr>
				<form name="submit" action="/math_admin_tag_save/" method="post">
					{% csrf_token %}
					<input type='hidden' id='tag_id' name='tag_id' value='{{tag_def.id}}'/>
					<div class="row-fluid">
						<div class="span3">Title :</div>
						<div class="span9">
							<input type="text" style="width:80%" id="title" name="title" value="{{tag_def.title}}" />
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Type:</div>
						<div class="span9">
							<select name="type" id="type" style="width:81%">
								<option value="K" {% if tag_def.type == 'K' %} selected {% endif %}>Keyword</option>
								<option value="C" {% if tag_def.type == 'C' %} selected {% endif %}>Concept</option>
								<option value="F" {% if tag_def.type == 'F' %} selected {% endif %}>Formula</option>
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Type:</div>
						<div class="span9">
							<select name="topic" id="topic" style="width:81%">
								<option value="0" {% if tag_def.topic_id == None %} selected {% endif %}>N.A.</option>
							{% for t in topics %}
								<option value="{{t.id}}" {% if tag_def.topic_id == t.id %} selected {% endif %}>{{t.title}}</option>
							{% endfor %}
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="alert alert-block alert-info">
							<p>Leave the topic as "N.A." if tag is a keyword.</p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Description:</div>
						<div class="span9">
							<input type="text" style="width:80%" id="desc" name="desc" value="{{tag_def.content}}" />
						</div>
					</div>
					<div class="row-fluid">
						<input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit" />
					</div>
				</form>
				<hr>
				<a class="btn btn-success" href="/math_admin_taglist/">&laquo; Back to Tag List</a>
			</div>
		</div>
	</body>
	{% include 'footer.html' %}
</html>