<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
		<script type="text/javascript" src="/static/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			MathJax.Hub.Config({				
				displayAlign: "left",
				tex2jax: {inlineMath: [['$$','$$'],['\\[','\\]']], displayMath:[]} 
			})
		</script>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="row-fluid" style="margin-top:40px;">
			{% include 'searchbar.html' %}
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<h1>Concepts and Formulae</h1>
				<hr>
				<div class="alert alert-block alert-info">
					<p>Select a topic to show its related concepts and formulae.</p>
					<p>Type <b>C</b> stands for Concept Tag</p>
					<p>Type <b>F</b> stands for Formula Tag</p>
				</div>
				<form name="cat" action="/concept/1/" method="get">
					<div class="row-fluid">
						<div class="span2">Topic :</div>
						<div class="span9">
							<select name="topic_id" style="width:100%">
								{% for t in topics %}
									<option value="{{t.id}}" {% if t.id == topic_id %} selected {% endif %}>{{t.title}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="span1">
							<input type="submit" class="btn btn-primary" id = "submit" name="submit" value="Submit"/>
						</div>
						<div class="row-fluid">
							{% if taglist == None or taglist|length == 0 %}
								<br/><br/>
								<div class="alert alert-block">
									<p>Sorry, the topic selected has no concept or formula at the moment.</p>
								</div>
							{% else %}
								<table class="table">
									<tr>
										<th width="20%">Title</th>
										<th width="20%">Type</th>
										<th width="60%">Description</th>
									</tr>
									{% for tag in taglist %}
									<tr>
										<td>{{tag.title}}</td>
										<td>{{tag.type}}</td>
										<td>{{tag.content}}</td>
									</tr>
									{% endfor %}
								</table>
							{% endif %}
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
	{% include 'footer.html' %}
</html>