<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
		<script type="text/javascript" src="/static/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			MathJax.Hub.Config({				
				displayAlign: "left",
				tex2jax: {inlineMath: [['$$','$$'],['\\[','\\]']], displayMath:[]} 
			})
		</script>
		<script type="text/javascript">
			function toggle(qid, button_id) {
				var ele_name = "sol_" + qid;
				var ele = document.getElementById(ele_name);
				var text = document.getElementById(button_id);
				if(ele.style.display == "block") {
						ele.style.display = "none";
					text.value = "View Solution";
				}
				else {
					ele.style.display = "block";
					text.value = "Hide Solution";
				}
			} 
		</script>
	</head>	
	<body>
		{% include 'header.html' %}
		<div class="row-fluid" style="margin-top:40px;">
			{% include 'searchbar.html' %}
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<h1>{{title}}</h1>
				<hr>
				<div class="alert alert-block alert-info">
				<h3>Total Questions: {{num_q}}</h3>
				{% if list_type == "tag" %}
					<hr>
					<h4>Formula(s) used:</h4>
					{% if formula|length > 0 %}
						<ul>
							{% for f in formula %}
							<li>{{f}}</li>
							{% endfor %}
						</ul>
					{% else %}
						-
					{% endif %}
					<h4>Concept(s) used:</h4>
					{% if concept|length > 0 %}
						<ul>
							{% for c in concept %}
							<li>{{c}}</li>
							{% endfor %}
						</ul>
					{% else %}
						-
					{% endif %}
				{% endif %}
				</div>
				{% for q in questions %}
					<div class="well well-large">
						<h3><a id="{{q.id}}">Question {{q.question_no}} of {{q.paper}}:</a></h3>
						<div class="row-fluid">
						<div class="span2">Qid: {{q.id}}</div>
						<div class="span2">Topic: {{q.topic}}</div>
						<div class="span7">Sub-Topic: {{q.subtopic}}</div>
						<div class="span1"><a href="/math_admin_form/{{list_type}}/{{page_no}}/{{subj_id}}/{{list_id}}/{{q.id}}/?attempt=Modify" class="btn-small btn-primary">Edit</a></div>
						</div>
						<hr>
						{% for item in q.display %}
							{% ifequal item.type 1 %}
								{{item.value|safe}}
							{% endifequal %}
							{% ifequal item.type 2 %}
								<img src="{{item.value}}" alt="{{item.value}}"/>
							{% endifequal %}		
							<br/>
						{% endfor %}
						<br/>
						({{q.marks}} marks)<br/>
						<br/>
						<input type="button" id="toggleans" name="toggleans" class="btn btn-inverse" onclick="toggle({{q.id}}, this.id);"  value="View Solution"/>
						<br/>
						<div class="row-fluid" id="sol_{{q.id}}" style="display:none;">
							{% if q.displayans > 0 %}
								{% for ans in q.displayans %}
									<br/>
									{% ifequal ans.type 1 %}
										{{ans.value}}
									{% endifequal %}
									{% ifequal ans.type 2 %}
										<img src="{{ans.value}}" alt="{{ans.value}}"/>
									{% endifequal %}
								{% endfor %}
							{% else %}
								Answer not found
							{% endif %}
						</div>
						<br>
						<div class="row-fluid">
							<div class="span1"><h5>Tags:</h5></div>
							<div class="span11">
							{% if q.taglist != null %}
								{% for tag in q.taglist %}
									{% if tag != null %}
										{% if tag.tag.type == 'K' %}
											<a class="btn btn-success" style="margin-bottom:5px;" href="/question/tag/{{cur_subj}}/1/?list_id={{tag.tag.id}}">{{tag.tag.title}}</a>
										{% elif tag.tag.type == 'C' %}
											<a class="btn btn-danger" style="margin-bottom:5px;" href="/question/tag/{{cur_subj}}/1/?list_id={{tag.tag.id}}">{{tag.tag.title}}</a>
										{% elif tag.tag.type == 'F' %}
											<a class="btn btn-info" style="margin-bottom:5px;" href="/question/tag/{{cur_subj}}/1/?list_id={{tag.tag.id}}">{{tag.tag.title}}</a>
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="pagination">
					<ul>
						{% for p in page_links %}
							{% if page_no == p %}
								<li class="disabled"><a href="#">{{p}}</a></li>
							{% else %}
								<li class="active"><a href='/question/{{list_type}}/{{subj_id}}/{{p}}/?list_id={{list_id}}&paperset_id={{paperset_id}}&topic_id={{topic_id}}'>{{p}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>
	{% include 'footer.html' %}
</html>