
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
		<script type="text/javascript" src="/static/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			MathJax.Hub.Config({				
				displayAlign: "left",
				tex2jax: {inlineMath: [['$$','$$'],['\\[','\\]']], displayMath:[]} 
			})
		</script>
		<script  type="text/javascript">
			function removeTable(b_elem){
				var t=b_elem.parentNode;
				while(t.tagName.toLowerCase()!='table'){
					t=t.parentNode;
				}
				count=2;
				while(count>0){
					if(t.nextSibling.tagName && t.nextSibling.tagName.toLowerCase()=='br')
						count=count-1;
					t.parentNode.removeChild(t.nextSibling);
				}				
				t.parentNode.removeChild(t);
			}
			function insertSol(b_elem){
				
				//read type of input
				var radio_list=document.getElementsByName('sol_type');
				var format='_';
				var count=1;
				
				for (iter=0;iter<radio_list.length;iter=iter+1){
					if(!radio_list[iter].checked)
						continue;
					
					//is checked
					switch(radio_list[iter].value){
						case 'v':
							format='v,';
							break;
						case 'r':
							format='r';
							break;
						case 'c':							
							count=parseInt(document.getElementById('dimension').value);
							format='c,'+String(count)+',';
							break;
						case 'm':
							row=parseInt(document.getElementById('rows').value);
							col=parseInt(document.getElementById('cols').value);
							count=row*col;
							format='m,'+String(row)+','+String(col);
							break;
						case 'il':
							format='i,'+document.getElementById('xvalue').value+',,ll';
							count=2;
							break;
						case 'ie':
							format='i,'+document.getElementById('xvalue').value+',,ee';
							count=2;
							break;
						case 'e':
							format='e,'+document.getElementById('xvalue').value+',';
							break;
						case 'n':
							format='n,'+document.getElementById('xvalue').value+',';
							break;
						case 'p':
							format='p';
							break;
						case 'd':
							format='d';
							break;
					}
					break;
				}
				
				//insert into table
				var r=b_elem.parentNode;
				while(r.tagName.toLowerCase()!='tr'){
					r=r.parentNode;
				}
				var t=r.parentNode;
				var r_code=r.innerHTML;
				
				t.removeChild(r);
				tr=document.createElement("tr");
				tr.title='row3';
				t.appendChild(tr);
				t.appendChild(r);
				
				//create row and type				
				td=document.createElement("td");
				td.innerHTML="<input type='text' value='"+format+"' size='15'/>";
				tr.appendChild(td);
				
				td=document.createElement("td");
				tr.appendChild(td);
				t=document.createElement("table");
				t_body=document.createElement("tbody");
				t.appendChild(t_body);
				td.appendChild(t);
				for(iter=0;iter<count;iter=iter+1){
					tr=document.createElement("tr");
					t_body.appendChild(tr);
					td=document.createElement("td");
					tr.appendChild(td);
					td.innerHTML="<input type='text' value='' size='70'/>";
				}
			}
			
			function addGroup(){
				last=document.getElementById('choice_table');
				p=last.parentNode;
				
				//create table
				e=document.createElement("table");
				e.frame='box';
				e.rules='all';
				e.width='100%';
				e.title='sol_table';
				
				//create a table body (required by internet explorer 8)
				e_body=document.createElement("tbody");
				
				//first row
				tr=document.createElement("tr");
				tr.title='row1';
				e_body.appendChild(tr);
				
				td=document.createElement("td");
				tr.appendChild(td);
				td.innerHTML="<a style='color:green;font-weight:bold'>Prompt:</a>";
				td.width='150px';
				
				td=document.createElement("td");
				tr.appendChild(td);
				td.innerHTML="<input type='text' size='70'/>";
				
				//second row
				tr=document.createElement("tr");
				e_body.appendChild(tr);
				
				td=document.createElement("td");
				tr.appendChild(td);
				td.innerHTML="<a style='color:green;font-weight:bold'>Type:</a>";
				
				td=document.createElement("td");
				tr.appendChild(td);
				td.innerHTML="<a style='color:green;font-weight:bold'>Answer:</a>";
				
				//last row of buttons
				tr=document.createElement("tr");
				e_body.appendChild(tr);
				
				td=document.createElement("td");
				tr.appendChild(td);
				td.innerHTML="<input type='button' value='Insert into group' onclick='insertSol(this);'/>";
				
				td=document.createElement("td");
				tr.appendChild(td);
				td.innerHTML="<input type='button' value='Delete group' onclick='removeTable(this);'/>";
				
				//insert table into html
				e.appendChild(e_body);
				p.insertBefore(e,last);
				e=document.createElement('br',last);
				p.insertBefore(e,last);
				e=document.createElement('br',last);
				p.insertBefore(e,last);				
			}
			function removeTag(b_elem){
				var set = b_elem.parentNode;
				while(set.tagName.toLowerCase() != 'div'){
					set=set.parentNode;
				}
				set.parentNode.removeChild(set);
			}
			function addTag(cmd){
				last = document.getElementById("addtagbtn");
				p = last.parentNode;
				var elem = document.createElement("div");
				elem.id = 'tagdiv';
				if (cmd == "e") {
					//add existing controls
					elem.innerHTML="<select name='tag'>" +
											"<option value=''>-- Choose Tag --</option>" +
											{% for td in tagdefs %}
											"<option value='{{td.id}}'" + {% if t.tag.id == td.id %}" selected " + {% endif %}">{{td.title}}</option>" +
											{% endfor %}
											"</select> " +
											"<input type='button' style='margin-top:-10px;' class='btn btn-danger' id='removetagbtn' value='Remove' onclick='removeTag(this);'/>" +
											"<br/>";
				}
				else if (cmd == "n") {
					//add new controls
					elem.innerHTML="<input type='text' name='newtitle' placeholder='Tag Title here' /> " + 
											"<input type='text' name='newcontent' placeholder='Tag Content here' /> " +
											"<select name='type'>" +
												"<option value=''>-- Tag Type --</option>" +
												"<option value='K'>Keyword</option>" +
												"<option value='C'>Concept</option>" +
												"<option value='F'>Formula</option>" +
											"</select> " +
											"<input type='button' style='margin-top:-10px;' class='btn btn-danger' id='removetagbtn' value='Remove' onclick='removeTag(this);'/>" +
											"<br/>";
				}
				p.insertBefore(elem,last);
			}
			
			function captureInput(){
				
				t_list=document.getElementsByTagName('table');
				//prompt type ans
				input_field='';
				type_field='';
				type_answer_field='';
				content_field='';
				sol_field='';
				tag_field='';
				new_tag_field='';
				
				content_field=document.getElementById('q_content').value;
				content_field=content_field.split('\n').join(';');
				
				sol_field=document.getElementById('answer').value;
				sol_field=sol_field.split('\n').join(';');
				
				for(iter=0;iter<t_list.length;iter++){
					if(t_list[iter].title=='sol_table'){
						for(iter_i=0;iter_i<t_list[iter].rows.length;iter_i=iter_i+1){
							if(t_list[iter].rows[iter_i].title=='row1'){
								input_field=input_field+t_list[iter].rows[iter_i].getElementsByTagName('input')[0].value+';';
							}
							else if(t_list[iter].rows[iter_i].title=='row3'){
								type_field=type_field+t_list[iter].rows[iter_i].cells[0].getElementsByTagName('input')[0].value+'|';
								inner_t=t_list[iter].rows[iter_i].cells[1].getElementsByTagName('table')[0];
								for(iter_r=0;iter_r<inner_t.rows.length;iter_r++){
									type_answer_field=type_answer_field+inner_t.rows[iter_r].getElementsByTagName('input')[0].value+'|';
								}
							}
						}

						//remove '|'
						if(type_field[type_field.length-1]=='|')
							type_field=type_field.substr(0,type_field.length-1);
						type_field=type_field+';';
						if(type_answer_field[type_answer_field.length-1]=='|')
							type_answer_field=type_answer_field.substr(0,type_answer_field.length-1);
						type_answer_field=type_answer_field+";";
					}
				}
				//remove ';'
				input_field=input_field.substr(0,input_field.length-1);
				type_field=type_field.substr(0,type_field.length-1);
				type_answer_field=type_answer_field.substr(0,type_answer_field.length-1);
				//alert("Input Field:\n"+input_field);
				//alert("Type Field:\n"+type_field);
				//alert("Answer Field:\n"+type_answer_field);
				//alert("Content Field:\n"+content_field);
				
				//added for Tag modify section
				d_list = document.getElementsByTagName('div');
				for (j=0;j<d_list.length;j++) { //traverse div
					if (d_list[j].id == 'tagdiv') {
						var children = d_list[j].childNodes;
						oldtag = '';
						newtitle = '';
						newcontent = '';
						newtype = '';
						for (k=0;k<children.length;k++) {
							//for existing
							if (children[k].name == 'tag')
								oldtag = children[k].value;
							//for new
							if (children[k].name == 'newtitle')
								newtitle = children[k].value;
							if (children[k].name == 'newcontent')
								newcontent = children[k].value;
							if (children[k].name == 'type')
								newtype = children[k].value;
						}
						if (oldtag != '')
							tag_field += oldtag + ';';
						if (newtitle != 'insert tag title' && newcontent != 'insert tag content' && newtype !='')
							new_tag_field += newtitle + ';' + newcontent + ';' + newtype + '||';
					}
				}
				
				
				document.getElementById('p_content').value=content_field;
				document.getElementById('p_sol').value=sol_field;
				document.getElementById('p_input').value=input_field;
				document.getElementById('p_type').value=type_field;
				document.getElementById('p_ans').value=type_answer_field;
				document.getElementById('p_q_id').value='{{question.id}}';
				document.getElementById('p_tag').value=tag_field;
				document.getElementById('p_new_tag').value=new_tag_field;
			}
			function preview_page(){
				captureInput();
				p_form=document.getElementById('preview_form');
				w=window.open('','Preview_Window');
				while(!w.document){}
				p_form.submit();
			}
			function submit_page(){
				captureInput();
				document.getElementById('a_content').value=document.getElementById('p_content').value;
				document.getElementById('a_sol').value=document.getElementById('p_sol').value;
				document.getElementById('a_input').value=document.getElementById('p_input').value;
				document.getElementById('a_type').value=document.getElementById('p_type').value;
				document.getElementById('a_ans').value=document.getElementById('p_ans').value;
				document.getElementById('a_q_id').value=document.getElementById('p_q_id').value;
				document.getElementById('a_tag').value=document.getElementById('p_tag').value;
				document.getElementById('a_new_tag').value=document.getElementById('p_new_tag').value;
			}
			function delete_page(){
				captureInput();
				document.getElementById('d_q_id').value=document.getElementById('p_q_id').value;
			}
		</script>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="container-fluid" style="margin-top:40px;">
			<div class="row-fluid">
				<h1>Create/Edit Question</h1>
				<hr>
				<form id='preview_form' method='post' action='/math_admin_modify/{{list_type}}/{{page_no}}/{{subj_id}}/?list_id={{list_id}}'>
					{% if question %}
					<div class="row-fluid">
						<div class="span3">Question ID :</div>
						<div class="span9">{{question.id}}</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Topic :</div>
						<div class="span9">{{topic}}</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Sub-Topic :</div>
						<div class="span9">{{subtopic}}</div>
					</div>
					{% else %}
					<div class="row-fluid">
						<div class="span3">Paper :</div>
						<div class="span2">
							<select name='paper_year'>
								{% for y in year_list %}
									<option value='{{y}}'>{{y}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="span2">
							<select name='paper_month'>
								<option value='6'>June</option>
								<option value='11'>November</option>
							</select>
						</div>
						<div class="span5">
							<select name='paper_num'>
								<option value='1'>1</option>
								<option value='2'>2</option>
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Topic :</div>
						<div class="span9">
							<select name='paper_topic' style="width:81%">
								{% for t in topics %}
									<option value='{{t.id}}'>{{t.title}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					{% endif %}
					<div class="row-fluid">
						<div class="span3">Question :</div>
						<div class="span9">
							<textarea id='q_content' name='q_content' cols='70' rows='10' style='width:80%'>{{display}}</textarea>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Answer :</div>
						<div class="span9">
							<textarea id='answer' name='answer' cols='70' rows='10' style='width:80%'>{{answer}}</textarea>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Tags :</div>
						<div class="span9" style="margin-bottom:5px">
							{% for t in tags %}
							<div id='tagdiv'>
								<select name='tag'>
									<option value="">-- Choose Tag --</option>
									{% for td in tagdefs %}
									<option value="{{td.id}}" {% if t.tag.id == td.id %} selected {% endif %}>{{td.title}}</option>
									{% endfor %}
								</select>
								<input type='button' style='margin-top:-10px;' class='btn btn-danger' id='removetagbtn' value='Remove' onclick='removeTag(this);'/>
								<br/>
							</div>
							{% endfor %}
							<input type='button' id='addtagbtn' class="btn btn-primary" value='Add Existing Tag' onclick="addTag('e');"/> <input type='button' class="btn btn-success" id='addnewtagbtn' value='Add New Tag' onclick="addTag('n');"/>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">Solution Prompt :</div>
						<div class="span9">
							{% for s in sol %}
								<table frame='box' rules='all' width='100%' title='sol_table'>
									<tr title='row1'>
										<td width='150px'><a style="color:green;font-weight:bold">Prompt:</a></td>
										<td><input type='text' value='{{s.prompt}}' size='70' name='prompt'/></td>
									</tr>
									<tr>
										<td><a style="color:green;font-weight:bold">Type:</a></td>
										<td><a style="color:green;font-weight:bold">Answer:</a></td>
									</tr>
									{% for item in s.type%}
										<tr title='row3'>
											<td><input type='text' value='{{item.type}}' size='15'/></td>
											<td><table>
												{% for i_part in item.ans %}
													<tr><td><input type='text' value='{{i_part}}' size='70'/></td></tr>
												{% endfor %}
											</table></td>
										</tr>
									{% endfor %}
									<tr>
										<!--<td><input type='button' value='Insert into group' onclick="this.value='Clicked';"/></td>-->
										<td><input type='button' value='Insert into group' onclick="insertSol(this);"/></td>
										<td><input type='button' value='Delete group' onclick="removeTable(this);"/></td>
									</tr>
								</table>
								<br/><br/>
							{% endfor %}
						</div>
					</div>
					<div class="form-actions">
						<div class="span1">
							{% csrf_token %}
							<input type='hidden' id='a_content' name='a_content'/>
							<input type='hidden' id='a_sol' name='a_sol'/>
							<input type='hidden' id='a_input' name='a_input'/>
							<input type='hidden' id='a_type' name='a_type'/>
							<input type='hidden' id='a_ans' name='a_ans'/>
							<input type='hidden' id='a_q_id' name='a_q_id'/>
							<input type='hidden' id='a_tag' name='a_tag' />
							<input type='hidden' id='a_new_tag' name='a_new_tag' />
							<input type="submit" class="btn btn-primary" id = "submit" value="Save" onclick='submit_page();'/>
						</form>
						</div>
						<div class="span1">
							<form id="delete" method="post" action="/math_admin_delete/{{list_type}}/{{page_no}}/{{subj_id}}/?list_id={{list_id}}">
								{% csrf_token %}
								<input type='hidden' id='d_q_id' name='d_q_id'/>
								<input type='submit' class='btn btn-danger' value='Delete' onclick='if (window.confirm("Confirm Delete?")) delete_page();'/>
							</form>
						</div>
					</div>
					<div class="row-fluid" style="display:none;">
						<form id='preview_form' method='post' action='/math_admin_preview/' target='Preview_Window'>
							{% csrf_token %}
							<input type='hidden' id='p_content' name='p_content'/>
							<input type='hidden' id='p_sol' name='p_sol'/>
							<input type='hidden' id='p_input' name='p_input'/>
							<input type='hidden' id='p_type' name='p_type'/>
							<input type='hidden' id='p_ans' name='p_ans'/>
							<input type='hidden' id='p_q_id' name='p_q_id'/>
							<input type='hidden' id='p_tag' name='p_tag' />
							<input type='hidden' id='p_new_tag' name='p_new_tag' />
							<!-- Preview Feature Hidden
							<input type='button' class="redbtn" value='Preview' onclick="preview_page();"/>
							-->
						</form>
					</div>
				</form>
			</div>
		</div>
	</body>
	{% include 'footer.html' %}
</html>