
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body>
		{% include 'header.html' %}
		<div class="row-fluid" style="margin-top:40px;">
			{% include 'searchbar.html' %}
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3" style="margin-top:10px;">
					{% include 'sidebar.html' %}
				</div>
				<div class="span9">
					<h1>Introducing Analyzer</h1>
					<hr>
					<p>Welcome to the Analyzer section. The Analyzer tools are available at the sidebar.</p>
					<div class="well">
						<h3>Paper-Based Tools</h3>
						<h5>Tag Cloud</h5>
						<p>Tag Cloud is a tool to visualize the frequencies of tags within a specific paper. Tag can be keyword-tag, concept-tag, or formula-tag.</p>
						<h5>Topic Distribution</h5>
						<p>Topic Distribution is a visualization of the marks/question distribution within a specific paper.</p>
						<h5>Topic Trend</h5>
						<p>Topic Trend is a visualization of topic distribution trend within a specific historical periods.</p>
						<h5>Concept Distribution</h5>
						<p>Concept Distribution is a visualization of the concept occurrence distribution within a specific paper.</p>
						<h5>Concept Trend</h5>
						<p>Concept Trend is a visualization of concept occurence distribution trend within a specific historical periods.</p>
					</div>
					<div class="well">
						<h3>Topic-Based Tools</h3>
						<h5>Tag Cloud</h5>
						<p>Tag Cloud is a tool to visualize the frequencies of tags within a specific topic. Tag can be keyword-tag, concept-tag, or formula-tag.</p>
						<h5>Question Clusters</h5>
						<p>Question Clusters is a data mining clustering tool which runs on K-Means algorithm to spot the similarities of questions into clusters based on tags as the dimensions of measure.</p>
					</div>
				</div>
			</div>
			
		</div>
	</body>
	{% include 'footer.html' %}
</html>