<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
		<script type="text/javascript" src="/static/javascript/jquery.1.8.2min.js"></script>
		<script type="text/javascript">
			function validate(form) {
				var errorMsg = "";
				var start_id = parseInt(form.start_paperset.value);
				var end_id = parseInt(form.end_paperset.value);
				var validPeriod = false;
				var validTopic = false;
				if (start_id != -1 && end_id != -1) {
					if (start_id <= end_id) {
						validPeriod = true;
					}
					else
						errorMsg += "Start Period must be earlier than End Period<br/>";
				}
				else
					errorMsg += "Please make sure that both period droplists are selected<br/>";
					
				
				if (validPeriod) {
					document.getElementById("errorbox").innerHTML = errorMsg;
					return true;
				}
				
				document.getElementById("errorbox").innerHTML = errorMsg;
				document.getElementById("errorhandler").style.display = "block";
				return false;
			}
		</script>
		<script type="text/javascript">
			$(function () {
				var chart;
				$(document).ready(function() {
					chart = new Highcharts.Chart({
						chart: {
							renderTo: 'container',
							type: 'line',
							marginRight: 130,
							marginBottom: 25
						},
						title: {
							text: 'Concept Trend',
							x: -20 //center
						},
						subtitle: {
							text: '',
							x: -20
						},
						xAxis: {
							categories: [{% for c in concepts %}'{{c.title|upper|slice:":3"}}'{% if not forloop.last %},{% endif %}{% endfor %}]
						},
						yAxis: {
							title: {
								text: 'Count'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#808080'
							}]
						},
						tooltip: {
							formatter: function() {
									return '<b>'+ this.series.name +'</b><br/>'+
									this.x +': '+ this.y;
							}
						},
						legend: {
							layout: 'vertical',
							align: 'right',
							verticalAlign: 'top',
							x: -10,
							y: 100,
							borderWidth: 0
						},
						series: [
						{% for g in graphData %}
							{
								name: '{{g.name}}',
								data: {{g.value}}
							}{% if not forloop.last %},{% endif %}
						{% endfor %}
						]
					});
				});
				
			});
		</script>
		<script src="/static/javascript/jquery-ui.js"></script>
		<script src="/static/javascript/highchart.js"></script>
		<script src="/static/javascript/chart-exporting.js"></script>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="row-fluid" style="margin-top:40px;">
			{% include 'searchbar.html' %}
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3" style="margin-top:10px;">
					{% include 'sidebar.html' %}
				</div>
				<div class="span9">
					<div class="row-fluid">
						<h1>Concept Trend Analysis</h1>
						<hr>
						<div class="alert alert-block alert-info">
							<p>Concept Trend is a visualization of concept occurrence distribution trend within a specific historical periods.</p>
						</div>
						<form name="papers" action="/analyzer/{{subj_id}}/paper/concept_trend/#graph" method="get" onSubmit="javascript:return validate(this)">
							<div class="row-fluid">
								<div class="span2">Period Range :</div>
								<div class="span4">
									<select name="start_paperset" style="width:100%">
										<option value="-1">-- Choose Start Period --</option>
										{% for p in papersets%}
											<option value="{{p.id}}" {% if p.id == start_paperset_id %} selected {% endif %}>{{p.title}}</option>
										{% endfor %}									
									</select>
								</div>
								<div class="span1" style="text-align:center;">-</div>
								<div class="span5">
									<select name="end_paperset" style="width:80%">
										<option value="-1">-- Choose End Period --</option>
										{% for p in papersets%}
											<option value="{{p.id}}" {% if p.id == end_paperset_id %} selected {% endif %}>{{p.title}}</option>
										{% endfor %}											
									</select>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span2">Topic :</div>
								<div class="span10">
									<select name="topic_id" style="width:100%">
										{% for t in topics %}
											<option value="{{t.id}}" {% if t.id == topic_id %} selected {% endif %}>{{t.title}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<input type="submit" class="btn btn-primary" id = "submit" name="submit" value="Generate"/>
						</form>
					</div>
					<br/>
					<a id="graph" />
					<div id="errorhandler" class="alert" style="display:none;">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Warning!</strong>
						<div id="errorbox"></div>
					</div>
					{% if start_paperset_id <= end_paperset_id and start_paperset_id > 0 and end_paperset_id > 0 %}
					<div class="row-fluid">
						<div class="span9">
							<div class="row-fluid">
								<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
							</div>
							<hr>
							<div class="well">
								<h5>X-Axis Legend</h5>
								{% for c in concepts %}
									{{c.title|upper|slice:":3"}} - {{c.title}}<br/>
								{% endfor %}
							</td>
							</div>
						</div>
						<div class="span3">
							<h5>Related Papers :</h5>
							<div class="accordion" id="accordion">
							{% for data in sidebarData %}
								<div class="accordion-group">
									<div class="accordion-heading" style="background-color:#049cdb;">
										<a class="accordion-toggle" style="color:#FFFFFF;" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">
											<h5>{{data.paperset}}</h5>
										</a>
									</div>
									<div id="collapse{{forloop.counter}}" class="accordion-body collapse">
										<div class="accordion-inner">
											{% for cp in data.concept %}
												{% if cp.count > 0 %}
													<a href="/question/tag/{{subj_id}}/1/?list_id={{cp.concept_id}}&paperset_id={{data.paperset_id}}">{{cp.concept_title}} ({{cp.count}})</a><br/>	
												{% else %}
													{{cp.concept_title}} ({{cp.count}}) <br/>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
	{% include 'footer.html' %}
</html>