<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner navbar-inverse">
		<a class="brand navbar-inverse" style="margin-left:3px;" href="/index/">mathanalyzer</a>
		<ul class="nav navbar-inverse">
			<li><a href="/index/"><i class="icon-home icon-white"></i> Home</a></li>
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book icon-white"></i> View Papers <b class="caret"></b></a>
                <ul class="dropdown-menu">
					<li><a href="/mathsection/1/">View Additional Math</a></li>
					<li><a href="/mathsection/2/">View Elementary Math</a></li>
                </ul>
			</li>
			<li><a href="/analyzer/1/"><i class="icon-align-left icon-white"></i> Analyzer</a></li>
			<li><a href="/concept/1/"><i class="icon-list-alt icon-white"></i> View Concepts</a></li>
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-white"></i> Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
					<li><a href="/math_admin/1/">Modify Additional Math</a></li>
					<li><a href="/math_admin/2/">Modify Elementary Math</a></li>
					<li><a href="/math_admin_taglist/?type=K">Modify Tags</a></li>
					<li><a href="/math_admin_missing_sol/">View Missing Solution for Additional Math</a></li>
					<li class="divider"></li>
					<li class="nav-header">Admin Only</li>
					<li><a href="/admin/">Django Admin</a></li>
					<li><a href="http://exampapers-mysql.ap01.aws.af.cm/">MySQL Admin</a></li>
                </ul>
			</li>
		</ul>
	</div>
</div>
<script src="/static/javascript/jquery-1.8.3.js"></script>
<script src="/static/javascript/bootstrap.js"></script>