<html>	
	<head>
		<script type="text/javascript" src="/static/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>
	<body>		
	<form>
		<a href="/select_test/">Back</a>
		<br/><br/>
		<!--\[\displaystyle\lim_{x\to3}y\]-->
		Main Topic: {{main_topic.title}}<br/>
		Sub Topic: {{sub_topic}}<br/>
		Number of Questions: {{question_count}}<br/>
		<ol>
		{%for q in questions%}
			<li><ul>
				<li><a href="/answer_question/{{q.id}}/">Question_Id: {{q.id}}</a></li>
				<li>Question_No: {{q.question_no}}</li>
				<li>Content: {{q.content}}</li>
				<li>Difficulty: {{q.difficulty_level}}</li>				
				{%if q.sub_questions%}
					<li>
					SubQuestions:
					<ul>
						{%for sQ in q.sub_questions%}
							<li>
								{%if sQ.question_no%}{{sQ.question_no}}{%endif%}
								{%if sQ.question_part%}{{sQ.question_part}}{%endif%}
								: {{sQ.content}}
								<br/>								
							</li>
						{%endfor%}
					</ul>
					</li>
				{%endif%}
			</ul></li>
		{%endfor%}
		</ol>
	</form>
	<body>
</html>