<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Paper-Based Analyzer</li>
		<li><a href="/analyzer/1/paper/tag_cloud/">Tag Cloud</a></li>
		<li><a href="/analyzer/1/paper/topic_distribution/">Topic Distribution</a></li>
		<li><a href="/analyzer/1/paper/topic_trend/">Topic Trend Analysis</a></li>
		<li><a href="/analyzer/1/paper/concept_distribution/">Concept Distribution</a></li>
		<li><a href="/analyzer/1/paper/concept_trend/">Concept Trend</a></li>
		<li class="nav-header">Topic-Based Analyzer</li>
		<li><a href="/analyzer/1/topic/tag_cloud/">Tag Cloud</a></li>
		<li><a href="/analyzer_cluster/1/">Question Clusters</a></li>
	</ul>
</div>